#eqns {
    width: 250px;
    border: 1px solid darkGray;
}

#eqns .eqn {
    border-bottom: 1px solid darkGray;
    padding: 10px 10px;
    width: 230px;
    white-space: nowrap;
    overflow-x: auto;
}

#eqns .new-eqn {
    background: lightGray;
    color: gray;
    text-align: center;
    padding-top: 10px;
}

#eqns .new-eqn,
#eqns .eqn {
    height: 30px;
}

/* Equation Name */
#eqns .eqn .eqn-name {
    margin-right: -5px;
}
#eqns .eqn .eqn-name sub {
    font-size: 80%;
}

/* Equation Editor */
#eqns .eqn .eqn-editor {
    /*width: 160px;*/
}

#eqns .eqn .eqn-editor,
#eqns .eqn .eqn-editor:focus {
    border: none;
    box-shadow: none;
}

#eqns .eqn .eqn-editor textarea,
#eqns .eqn .eqn-editor textarea:active {
    resize: none;
}

#eqns .eqn .parse-error.eqn-editor {
    color: red;
}

#eqns .selected.eqn {
    border: 1px solid black;
}

