body {
    margin: 0px;
}

#eqns {
    position: absolute;
    vertical-align: top;
}

#left {
    display: inline-block;
}

#graphCanvas {
    display: inline-block;
    vertical-align: top;
    outline: none;
}

#graphPlus {
    position: absolute;
    top: 0px;
}

#opts {
    position: absolute;
    left: 300px;
}

/* Fun Name */
span.fun-name {
    margin-right: -2px;
}

#eqns span.fun-name {
    margin-right: -5px;
}

span.fun-name sub {
    font-size: 80%;
}

/* Anti-mathquill */
span.mathquill-rendered-math textarea,
span.mathquill-rendered-math textarea:active {
    resize: none;
}

span.mathquill-rendered-math,
span.mathquill-rendered-math:focus {
    border: none !important;
    box-shadow: none !important;
}

/* Remove button */
button.remove {
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 8px;
    color: darkRed;
}

