body {
    margin: 0px;
    height: 100%;
}

.bg {
    position: absolute;
    height: 100%;
    background: #fafafa;
    opacity: .8;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 1px 5px 4px #ccc;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
}

/* Remove button */
div.remove {
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: 'Helvetica', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fafafa;
    background: #ccc;
    padding: 1px 4px 1px;
    margin: 10px 2px 0px 0px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px
}

div.remove:hover {
    background: #F2AEA0;
}

/* Fun Name */
span.fun-name {
    margin-right: -2px;
}

#eqns span.fun-name {
    margin-right: -5px;
}

span.fun-name sub {
    font-size: 80%;
}

/* Anti-mathquill */
span.mathquill-rendered-math textarea,
span.mathquill-rendered-math textarea:active {
    resize: none;
}

span.mathquill-rendered-math,
span.mathquill-rendered-math:focus {
    border: none !important;
    box-shadow: none !important;
}
