#tbls .tbl {
    display: inline-block;
    border: 1px solid darkGray;
    padding: 5px;
}

#tbls .tbl table {
    border-collapse: collapse;
}

#tbls .tbl table td {
    padding: 5px;
    text-align: right;
}

#tbls .tbl table th {
    border-bottom: 2px solid black;
}

#tbls .tbl table td:first-child,
#tbls .tbl table th:first-child {
    border-right: 2px solid black;
}

#tbls .tbl .seed {
    border: 1px solid blue;
}

#eqns .tbl textarea,
#eqns .tbl textarea:active {
    resize: none;
}
